rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn() && request.auth.token.email == "solanojhonatan2000@gmail.com";
    }

    match /users/{uid} {
      allow read, write: if isAdmin() || (signedIn() && request.auth.uid == uid);
    }

    match /studentState/{uid} {
      allow read, write: if isAdmin() || (signedIn() && request.auth.uid == uid);
    }

    match /groupPermissions/{groupId} {
      allow read: if signedIn();
      allow write: if isAdmin();
    }
  }
}
